CONTENTFUL_ACCESS_TOKEN=
CONTENTFUL_ORG_ID=
CONTENTFUL_APP_DEF_ID=
CONTENTFUL_SPACE_ID=
CONTENTFUL_ENVIRONMENT_ID=master
CONTENTFUL_CDA_TOKEN=
CONTENTFUL_CPA_TOKEN=

# Used by preview-article:dev and other dev tools
CANONICAL_URL_TEMPLATE=https://www.example.com/some/path
LOCALE=en-US
FOOTER_TEXT=
ARTICLE_CUSTOMIZATIONS_JSON=
